.content{
	width: 90%;
	margin: auto;
	display: flex;
	flex-direction: column;
	color: white;
}

.content_div{
	margin: 3%;
	display: flex;
}

.content_div_left{
	width: 30%;
}

.content_div_right{
	width: 70%;
}

.content_div_right input{
	width: 100%;
}

.submitBtn{
	
	margin-top:3%;
}
