.content{
	background-color: whitesmoke;
	width: 90%;
	margin: auto;
	margin-top: 5%;
}

.content div{
	margin: 1%;
}

.img{
	width:40%;
}

.img img{
	width:100%;
	height: 20%;
}

.IDCard{
	display: flex;
}

.xiugai{
	width: 50%;
	margin: auto;
	margin-top: 20%;
}
.XG{
	width: 100%;
}
