.all{
	display: flex;
	flex-direction: column;
	height:75% ;
	width: 100%;
	padding:0rem!important;
	overflow: auto;
}


.everyone{ 
	background:whitesmoke ;
	border-style:solid; 
	border-width:1px; 
	border-color:#000;
	margin: 0.5rem 1rem!important;
	padding:1%;
}

.everyone div{
	margin: 1%;
}



.content_left{
	width:25%;
}

.content_mid{
	width:45%;
	
	
}

.content_right{
	width:30%;
}

.team{
	display: flex;
}

.img{
	width:100%;
}

.image img{
	height: rem;
	width: 100%;
	
}


.guanzhu{
	width:50%;
	margin: auto;

}
