.back{
	width: 30%;
	height: 5%;
	float: left;
}

.back img{
    width: 15%;
    margin-left:20% ;
}

.biaoti{
	float:left;
	height: 5%;
	width:45%;
	font-size:3rem!important;
	text-align: center;	
}

.meiriqiandao{
	float: right;
	width: 25%;
	height: 5%;
}
  
.qiandao{
	height: 100%;
	
}

.card{
	width: 90%;
	color:white;
	margin: auto;
	margin-top: 5%;
	display: flex;
	height: 15%;
	background-color: rgb(144,144,144);

}

.manger_card{
	width: 33%;
	text-align: center;
	height: 60%;
	margin: auto;
}

.user_image{
	width: 33%;
	text-align: center;
	
}

.img{
	width: 60%;
	margin: auto;
	height: 75%;
	
}

.img img{
	width: 100%;
}

.player_card{
	width: 33%;
	text-align: center;
	height: 60%;
	margin: auto;
}


.list{
	width: 90%;
	margin: auto;
	color: white;

	
}

.list div{
	display: flex;
	margin: 2% 0;

}

.a{
	width: 95%;
		font-size: 2.5rem!important;
}

.next1{
	width: 5%;
	float: right;
}

.next1 img{
	width: 100%;
}

