.main{
	background-image: url(../../img/part8/lock-screen-background.png);
	background-size: 100% 100%;
	height: 100%;
	margin: 0 !important;
	display: flex;	/*弹性布局，子元素的float失效*/
	flex-direction: column;/*定义主轴竖，默认横*/
	-webkit-flex-direction: column;/*伸缩容器的主轴的方向row row-reverse column column-reverse*/	
    background-repeat:no-repeat;/*背景固定*/
    background-attachment:fixed
}
.head{
	color: white;
	text-align: center;
	font-size: 1.3rem;
	margin-top: 2rem;
	
}
#kapian{
	
	color:white;
	text-shadow: none;
	background-color: rgb(144,144,144);
	background-size: 100% 100%;
	text-align: center;
	position: fixed;
	left:10%;
	right:10%;
	max-height: 30%;
}
.button1{
	position: fixed;
	left: 8%;
	top: 6%;
	
}
#qiandao{
	color: white;
	text-shadow: none;
	font-size: 0.6rem;
	position: fixed;
	top: 6%;
	right: 8%;
	
}
.shuju{
	display: flex;
	
	
}
.shujuzhi{
	display: flex;
}
.shujuzhi div{
	margin: auto;
}
.shuju div{
	margin: auto;
}
.list{
	color: white;
	text-shadow: none;
	position: fixed;
	left:10%;
	top: 30%;
}
.list1{
	position: fixed;
	top: 30%;
}
.list2{
	position:fixed;
	top:36%;
}
.list3{
	position:fixed;
	top:42%;
}
.list4{
	position:fixed;
	top:48%;
}
.list5{
	position:fixed;
	top:54%;
}
.list6{
	position:fixed;
	top:60%;
}
.list7{
	position:fixed;
	top:66%;
}
.list8{
	position:fixed;
	top:72%;
}
.list9{
	position:fixed;
	top:78%;
}
.button{
	background:rgb(216,215,213);
	display: flex;
	position: fixed;/*以窗口为参考点*/
	left: 0;
  	bottom: 0rem;
  	padding: 0rem;/*这个div的内边距，可以去掉*/
	width: 100%; 
	height: 4.2rem;
	font-size: 2.5rem;
	font-family:黑体;	
	
}

.button div{
	margin: auto;
}