.bingchangxiangxixinxi{
	background-image: url(../../img/part1/lock-screen-background.png);
	background-size: 100% 100%;
	height: 100%;
	margin: 0 !important;
	background-repeat:no-repeat;
    background-attachment:fixed;
	display: flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	font-family: "宋体";
}

.top{
	color: rgb(178,196,202);
padding: 1.5rem 0;
}

.top a{
	  width:2.5rem;
	  background: url(../../img/part1/back.png) no-repeat;
	  float: left;	
	  margin-left: 1rem;
	  padding: 1rem 0;
	  margin-top: 0.5rem;
}

.top span{
	/*display: block;/*默认属性值*/
	font-weight: 600;
	text-shadow:none !important;
	font-size: 2.5rem;
	margin-left: 30%;	
}
.logo{
text-align: center;
}

.logo img{
height: auto;
width: 70%;

}



/*下半部分*/
.content{
	padding-top:1rem;
	width: 100%;
	display: flex;
	-webkit-flex-direction: column;
	color:#FFFFFF;
}

.content_div{
	display: flex;
	margin: 1rem;	
	margin-left: 4rem;
}

.content_div span{
	font-size:2rem;
	text-shadow: none;
}

.content_div>div{
	position: absolute;
	right:3rem;
}

.content_div >div img{
	height:3rem;
	width: 3rem;
}
