
.all{
	display: flex;
	flex-direction: column;
	height:75% ;
	width: 95%;
	padding:0rem!important;

	margin: auto;
	margin-top: 2%;
}



.everyone{ 
	background:whitesmoke ;
	border-style:solid; 
	border-width:1px; 
	border-color:#000;
	margin: 0.5rem!important;
	padding:1%;
}

.everyone div{
	margin: 1%;
}



.content_left{
	width:25%;
}


.content_right{
	width:80%;
}

.place{
	display: flex;
}

.img img{
	height: 6rem;
	width: 6rem;
	margin-top: 30%;
}

.search_a{
	/*display:flex;*/
	width:90%;
	margin: auto;
	
}


.search_c{
	float: left;
	width: 13%;
	padding:2%;
	margin: 2%;
	border-radius: 1rem!important;
}
.search_b{
	float: left;
	width: 60%;
	border-radius: 1rem!important;
}

.search_d{
	float: left;
	width: 13%;
	padding:2%;
	margin-top: 2%;
	border-radius: 1rem!important;
}