.main{
	background-image: url(../../img/part8/lock-screen-background.png);
	background-size: 100% 100%;
	height: 100%;
	margin: 0 !important;
	display: flex;	/*弹性布局，子元素的float失效*/
	flex-direction: column;/*定义主轴竖，默认横*/
	-webkit-flex-direction: column;/*伸缩容器的主轴的方向row row-reverse column column-reverse*/	
    background-repeat:no-repeat;/*背景固定*/
    background-attachment:fixed
}
.head{
	color: white;
	text-align: center;
	font-size: 1.3rem;
	margin-top: 2rem;
	
}
.button1{
	position: fixed;
	left: 8%;
	top: 6%;
	
}
.button2{
	color: white;
	text-shadow: none;
	display: flex;
}
#xunlian{
	background: rgb(100,149,237);
	text-align: center;
	position: fixed;
	left:20%;
	top: 15%;
	width:20%;
	
}
#bisai{
	background: rgb(100,149,237);
	text-align: center;
	position: fixed;
	left:60%;
	top: 15%;
	width:20%;
}
.renyuanxuanze{
	text-shadow: none;
	color:white;
	position:fixed;
	top:20%;
	width:100%;
	text-align: center;
	font-size: 1.2rem;
}
.renyuan{
	border: none;
	
}
.renyuan1{
	background: url(../../img/part8/man.png) center center no-repeat;;
	position: fixed;
	left:20%;
	top:25%;
	width:20%;
	height: 10%;
}
.renyuan2{
	background: url(../../img/part8/man.png) center center no-repeat;;
	position: fixed;
	left:40%;
	top:35%;
	width:20%;
	height: 10%;
}
.renyuan3{
	background: url(../../img/part8/man.png) center center no-repeat;;
	position: fixed;
	left:60%;
	top:25%;
	width:20%;
	height: 10%;
}
.renyuan4{
	background: url(../../img/part8/man.png) center center no-repeat;;
	position: fixed;
	left:20%;
	top:45%;
	width:20%;
	height: 10%;
}
.renyuan5{
	background: url(../../img/part8/man.png) center center no-repeat;;
	position: fixed;
	left:60%;
	top:45%;
	width:20%;
	height: 10%;
}
.button3{
	background: rgb(100,149,237);
	position: fixed;
	top:60%;
	left: 30%;
	width: 40%;
	text-align: center;
}
.button{
	background:rgb(216,215,213);
	display: flex;
	position: fixed;/*以窗口为参考点*/
	left: 0;
  	bottom: 0rem;
  	padding: 0rem;/*这个div的内边距，可以去掉*/
	width: 100%; 
	height: 4.2rem;
	font-size: 2.5rem;
	font-family:黑体;	
	
}

.button div{
	margin: auto;
}