.main{
	background-image: url(../../img/part8/lock-screen-background.png);
	background-size: 100% 100%;
	height: 100%;
	margin: 0 !important;
	display: flex;	/*弹性布局，子元素的float失效*/
	flex-direction: column;/*定义主轴竖，默认横*/
	-webkit-flex-direction: column;/*伸缩容器的主轴的方向row row-reverse column column-reverse*/	
    background-repeat:no-repeat;/*背景固定*/
    background-attachment:fixed
}
#saishigundong{
	position:fixed;
	left: 20%;
	width:70%;
	background: rgb(127,255,170);
	text-shadow: none;
	text-align: center;
	height: 2rem%;
}
.button1{
	width: 100%;
	background: rgb(135,206,235);
	display: flex;
	color:white;
	text-shadow: none;
	position: fixed;
	top:5%;
}
.button1 div{
	margin: auto;
	
}

.button{
	background:rgb(216,215,213);
	display: flex;
	position: fixed;/*以窗口为参考点*/
	left: 0;
  	bottom: 0rem;
  	padding: 0rem;/*这个div的内边距，可以去掉*/
	width: 100%; 
	height: 4.2rem;
	font-size: 2.5rem;
	font-family:黑体;	
	
}

.button div{
	margin: auto;
}