.text{
	text-align: center;
	margin-top:12%;
	font-size:120%;
	color:white;
}

.gender{
	width: 30%;
	flex-direction: column;
	-webkit-flex-direction: column;
	margin: auto;
	margin-top: 10%;

}

.gender div{

	width: 100%;
	text-align: center;
	color:white;

}

.left_div img{
	width: 100%;
	
}
.right_div img{
	width: 100%;
	margin-top: 30%;
}