.jiechubangding{
	height: 20px;
	width: 50x;
	display: inline-block;
	background-color: #E6E6E6;
	position:fixed;
	right :20px;
	top:30px;
	color: red;
	font-size: 15px;
}

div h1{
	color: white;
	text-align: center;
	font-size: 2rem;
	margin-top: 3rem;
	text-decoration: none;
	font-family: "宋体";
	text-shadow: none;
}
