*{
	margin: 0px;
	padding: 0px;
}
.main{
	background-color: transparent;
	background-image: url(../../img/part4/lock-screen-background.png);
	background-size: 100% 100%;
	margin: 0 !important;
	display: flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	display:block !important;
}

.head{
	color: white;
	text-align: center;
	font-size: 2rem;
	margin-top: 3rem;
	text-decoration: none;
	font-family: "宋体";
	text-shadow: none;
}
.header{
	position: fixed;
	left: 8%;
	top: 6%;
}

.header a{
	  width:2.5rem;
	  background: url(../../img/part4/back.png) no-repeat;
	  float: left;	
	  padding: 2rem;
}

.header img{
	float:right;
	padding-right: 3rem;
}

.header span{
	text-align:center;
	position: relative;
	font-weight: 600;
	text-shadow:none !important;
	font-size: 2.5rem;
	font-family: '微软雅黑';
}

.search{
	margin: 20px;
}

.button{
	background:rgb(216,215,213);
	display: flex;
	position: fixed;/*以窗口为参考点*/
	left: 0;
  	bottom: 0rem;
	width: 100%; 
	height: 4.2rem;
	font-size: 2.5rem;
	font-family:黑体;	
}

.button div{
	margin: auto;
}

.tianjia{
	height: 20px;
	width: 50x;
	display: inline-block;
	position:fixed;
	right :15px;
	top:30px;
	color: red;
	font-size: 15px;
}
