
/*搜索框*/

.search_a{
	width:90%;
	margin: auto;	
	display:flex;
	height:6%;
	margin-top:2%;
}

.search_c{
	float: left;
	height：100%；
		
}

.submitBtn1{
	
}

.search_b{
	float: left;
	width: 70%;
	margin:0 2%
}

.search{
	width:100%;
	
}

.search_d{
	float: left;
	

}

.submitBtn{
	
}


.all{
	display: flex;
	flex-direction: column;
	height:75% ;
	width: 100%;
	padding:0rem!important;
	overflow: auto;
}




.everyone{ 
	background:whitesmoke ;
	border-style:solid; 
	border-width:1px; 
	border-color:#000;
	margin: 0.5rem 1rem!important;
	padding:1%;
}

.everyone div{
	margin: 1%;
}



.content_left{
	width:30%;
}

.content_mid{
	width:40%;
	
	
}

.content_right{
	width:30%;
}

.team{
	display: flex;
}

.image img{
	height: 6rem;
	width: 6rem;
}


.guanzhu{
	width: 20%;
	margin-left: 77%;

}

.buttonguanzhu{
	
	width: 100%;
	padding: 7%;
}

}
