.text{
	line-height:2.0;
	text-align: center;
	margin-top:12%;
	font-family:"微软雅黑";
	font-size:120%;
	color:#F7ECB5;
}


.text p{
	 color: #fff;
	 text-shadow:none !important;
	 font-size: 3rem;
}