.text p{
	color: #fff;
    text-shadow:none !important;
    font-size: 1.7rem;
	
}

.weight{
	text-align: center;
}

.weight span{
	color: #fff;
	font-size: 2.5rem;
}

.btn{
	border-radius: 2rem !important;
	width: 80%;
    min-height: 3em;
	padding-left: 50px !important;
}

.back{
	background: transparent! important;
	 text-shadow:none !important;
    color: #fff;
}

.back span{
	color: #fff;
	text-shadow:none !important;
	margin: 0 2rem;
	
}

.next{
	background: transparent! important;
	 text-shadow:none !important;
	   color: #fff;
	
}

.next span{
	color: #fff;
	text-shadow:none !important;
	margin: 0 2rem;
	
}

	

