<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>icehockeyDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BingChangInfoServlet</display-name>
    <servlet-name>BingChangInfoServlet</servlet-name>
    <servlet-class>com.icehockey.controller.BingChangInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BingChangInfoServlet</servlet-name>
    <url-pattern>/BingChangInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JiaoBingBiBaiServlet</display-name>
    <servlet-name>JiaoBingBiBaiServlet</servlet-name>
    <servlet-class>com.icehockey.controller.JiaoBingBiBaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JiaoBingBiBaiServlet</servlet-name>
    <url-pattern>/JiaoBingBiBaiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DaoHangLanServlet</display-name>
    <servlet-name>DaoHangLanServlet</servlet-name>
    <servlet-class>com.icehockey.controller.DaoHangLanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DaoHangLanServlet</servlet-name>
    <url-pattern>/DaoHangLanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TianBingTianJiangServlet</display-name>
    <servlet-name>TianBingTianJiangServlet</servlet-name>
    <servlet-class>com.icehockey.controller.TianBingTianJiangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TianBingTianJiangServlet</servlet-name>
    <url-pattern>/TianBingTianJiangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BingLinChengXiaServlet</display-name>
    <servlet-name>BingLinChengXiaServlet</servlet-name>
    <servlet-class>com.icehockey.controller.BingLinChengXiaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BingLinChengXiaServlet</servlet-name>
    <url-pattern>/BingLinChengXiaServlet</url-pattern>
  </servlet-mapping>
</web-app>